
<!-- Extra large modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Extra large modal</button> -->
<button class="btn btn-success course-btn-order" data-toggle="modal" data-target=".bd-example-modal-xl">ซื้อคอร์สเรียน</button>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" >
  <div class="modal-dialog modal-xl">
    <div class="modal-content">


      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"> <i class="pi pi-shopping-cart"></i> สั่งซื้อและชำระเงิน</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <p-steps [model]="items"  [(activeIndex)]="activeStepIndex"  styleClass="steps-custom"></p-steps>
          </div>
          <section id="sec1">
              <div class="row content-order">
                  <div class="col-12">
                    <div class="row pager">
                      <div class="col-lg-6 col-sm-6 col-xs-12 left-panel" >
                        <div class="card  text-white course-img-header">
                            <img src="{{courseData.course_pic}}" class="card-img" alt="...">
                            <div class="card-img-overlay">
                              <!-- <h5 class="card-title">Card title</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text">Last updated 3 mins ago</p> -->
                            </div>
                          </div>

                          <div class="row text-left">
                              <div class="well-get-banklist">
                                  <p> <i class="pi pi-money-bill"></i> วิธีการชำระเงิน</p>

                                  <hr>
                                  <span>ท่านสามารถชำระเงินได้โดยการ โอนเงินเข้าบัญชีดังต่อไปนี้ </span>
                                  <ul>
                                      <li *ngFor="let item of bankData">
                                        <div>
                                          <img src="item.bank_pic" alt="sbc-logo...." class="bank-logo-img"> <span>{{item.bank_name}} </span>
                                        </div>
                                      </li>
                                  


                                  </ul>
                              </div>
                            </div>
                      </div>
                      <div class="col-lg-6 col-sm-6 col-xs-12"  >
                          <div class=" order-group text-left ">
                              <h3 class=" course-text-header">{{courseData.course_name}}</h3>
                              <h4 class="course-text-header  price-text"> &#3647;{{courseData.course_price_pro | number}} บาท <small class="sale-text">{{courseData.course_price | number}} บาท</small></h4>
                          </div>
                          <div class="row">
                            <div class="col-12 text-left">
                                <!-- <a  *ngIf="!userAuth"  class="nav-link" href="#" style="border-left: 1px solid #90909029;" data-toggle="modal" data-target="#exampleModalCenter"><i class="pi pi-user"></i> เข้าสู่ระบบ / สมัครสมาชิก</a> -->
                                <button *ngIf="!userAuth" class="btn btn-success course-btn-order-payment" data-dismiss="modal" data-toggle="modal" data-target="#exampleModalCenter" > ซื้อเลย</button><br>
                                <button *ngIf="userAuth" class="btn btn-success course-btn-order-payment" (click)="confirmOrder()" > ซื้อเลย</button><br>
                              <!-- <img src="../../assets/images/visa-logo.png" alt="visa logo..." class="visa-logo">
                              <img src="../../assets/images/mastercard_logo.png" alt="mastercard logo..." class="mastercard-logo"> -->
                            </div>
                          </div>

                          <div class="row text-left">
                              <div class="well-get">
                                  <p>สิ่งที่คุณจะได้รับ</p>
                                  <hr>
                                  <ul>
                                      <li>สามารถเรียนจากที่ไหนก็ได้ เมื่อไรก็ได้ ตลอดชีวิต</li>
                                      <li>ไม่สอนทฤษฎีที่เพื่อน ๆ สามารถหาได้ฟรีจาก Internet</li>
                                  </ul>
                              </div>
                            </div>


                      </div>
                    </div>
                  </div>
                </div>
          </section>

          <section id="sec2">
              <div class="row content-order">
                  <div class="col-12">
                    <div class="row pager">
                      <div class="col-lg-8 col-sm-12 col-xs-12"  >
                          <div class=" order-group text-left ">
                              <h3 class=" course-text-header">เคล็ดลับข้อละล้าน ฉบับ Top Trader</h3>
                              <hr>
                          </div>

                          <!-- <form class="text-left"> -->
                              <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-5 col-form-label">จำนวนเงินที่ต้องชำระ</label>
                                <div class="col-sm-7">
                                  <input type="text" class="form-control" id="inputEmail3" placeholder="จำนวนเงินที่ต้องชำระ" value="9,999" readonly>
                                </div>
                              </div>

                              <fieldset class="form-group">
                                <div class="row">
                                  <legend class="col-form-label col-sm-5 pt-0">	เลือกบัญชี</legend>
                                  <div class="col-sm-7">
                                    <div class="form-check" *ngFor="let item of bankData">
                                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                      <label class="form-check-label" for="gridRadios1">
                                       {{item.bank_name}} - {{item.bank_no}}
                                      </label>
                                    </div>
                                  

                                  </div>

                                  <div class="row">
                                    <div class="col-lg-5"></div>
                                    <div class="col-lg-7 col-sm-12 col-xs-12 bank-detail">
                                        <label for="inputEmail3" class="col-sm-12 col-form-label">ธนาคาร: ธนาคารไทยพาณิชย์</label>
                                        <label for="inputEmail3" class="col-sm-12 col-form-label">ชื่อบัญชี : xxxxxx xxxxxx</label>
                                        <label for="inputEmail3" class="col-sm-12 col-form-label">หมายเลขบัญชี: 999999999</label>
                                    </div>
                                  </div>
                                </div>
                              </fieldset>
                              <div class="form-group row">
                                  <label for="inputEmail3" class="col-sm-5 col-form-label">วัน/เวลา ที่ฝากเงิน</label>
                                  <div class="col-sm-4">
                                    <input type="date" class="form-control" id="inputEmail3" placeholder="วัน ที่ฝากเงิน" >
                                  </div>
                                  <div class="col-sm-3 bank-time">
                                    <input type="time" class="form-control" id="inputEmail3" placeholder="เวลา ที่ฝากเงิน" >
                                  </div>
                              </div>

                              <div class="form-group row">
                                  <label for="inputEmail3" class="col-sm-5 col-form-label">รูปภาพสลิป (ขนาดไม่เกิน 10Mb)</label>
                                  <div class="col-sm-7">
                                      <p-fileUpload mode="basic" name="demo[]" url="" accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)"></p-fileUpload>
                                  </div>
                              </div>

                              <div class="form-group row">
                                <div class="col-sm-12 text-right">
                                  <button type="submit" class="btn btn-success">  ชำระเงิน</button>
                                </div>
                              </div>
                            <!-- </form> -->


                      </div>
                      <div class="col-lg-4 col-sm-12 col-xs-12"  >
                          <div class="row text-left">
                              <div class="well-get-banklist">
                                  <p> <i class="pi pi-money-bill"></i> -ขั้นตอนชำระเงิน</p>

                                  <hr>
                                  <ul>
                                      <li>
                                        <div>
                                          ขั้นตอนที่ 1
                                        </div>
                                      </li>
                                      <li>
                                        <div>
                                            ขั้นตอนที่ 2
                                        </div>
                                      </li>
                                      <li>
                                        <div>
                                            ขั้นตอนที่ 3
                                        </div>
                                      </li>


                                  </ul>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
          </section>




        </div>
      </div>



    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding-top: 0">
        <!-- <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5> -->

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
              <h3 class="content-form-login" *ngIf="chkForm">เข้าสู่ระบบ</h3>
              <h3 class="content-form-login" *ngIf="!chkForm">สมัครสมาชิก</h3>
              <div class="row">
                <div class="col-lg-6 login-panel-1 ">
                  <form  [formGroup]="loginForm" >
                    <!-- <form> -->
                     <div class="content-form-login" *ngIf="chkForm">
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" formControlName="username" class="form-control" placeholder="อีเมลล์"  value="user.dummy@gmail.com">
                          </div>
                          <div class="input-group input-group-sm mb-3">
                            <input type="password" formControlName="password" class="form-control" placeholder="รหัสผ่าน"  value="userdummy1234">
                          </div>
                          <div class="alert alert-danger" role="alert" *ngIf="loginError !== null">
                            {{loginError}}
                          </div>
                          <!-- <button type="submit"  data-dismiss="modal" class="btn btn login-btn">เข้าสู่ระบบ</button> -->
                          <button type="submit" (click)="userLogin()"  class="btn btn login-btn">เข้าสู่ระบบ</button>
                          <p class="forget-password-text">ลืมรหัสผ่าน ?</p>
                     </div>
                </form>

                <form [formGroup]="registerForm" (ngSubmit)="register()" >
                     <div class="content-form-login" *ngIf="!chkForm">
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" formControlName="name" class="form-control" placeholder="ชื่อ" > &nbsp;&nbsp;
                           
                            <input type="text" formControlName="surname" class="form-control" placeholder="นามสกุล" >

                          </div>
                          <div class="input-group input-group-sm mb-3">
                            <span class="help-block"
                            *ngIf="!registerForm.get('name').valid
                            && registerForm.get('name').touched">Please enter a valid name!</span>
                          </div>
                          <div class="input-group input-group-sm mb-3">
                              <input type="email" formControlName="email" [email]="true" class="form-control" placeholder="อีเมลล์" >
                             
                          </div>
                          <div class="input-group input-group-sm mb-3" style="margin-bottom: 0 !important;margin-top: -15px;" *ngIf="registerForm.controls.email.status === 'INVALID'">
                            <p *ngIf="!registerForm.controls.email.errors.email" style="color: red;">* กรุณากรอก Email</p>
                            <p *ngIf="registerForm.controls.email.errors.email" style="color: red;">* Email ไม่ถูกต้อง</p>
                          </div>
                          <div class="input-group input-group-sm mb-3">
                            <input type="password" formControlName="password" class="form-control" placeholder="รหัสผ่าน" >
                           
                          </div>
                          <div class="input-group input-group-sm mb-3" style="margin-bottom: 0 !important;margin-top: -15px;" *ngIf="registerForm.controls.password.status === 'INVALID'">
                            <p *ngIf="!registerForm.controls.password.errors.minlength" style="color: red;">* กรุณากรอก รหัสผ่าน</p>
                            <p *ngIf="registerForm.controls.password.errors.minlength" style="color: red;">* รหัสผ่านต้องมากว่า 6 ตัวอักษร</p>
                          </div>
                          <div class="input-group input-group-sm mb-3">
                            <input type="password" class="form-control" (keyup)="passwordConfirm()" formControlName="password_confirmation" placeholder="ยืนยันรหัสผ่าน" >
                          </div>
                          <div class="input-group input-group-sm mb-3" style="margin-bottom: 0 !important;margin-top: -15px;" *ngIf="passConfirm">
                            <p style="color: red;">* รหัสผ่านไม่ตรงกัน</p>
                          </div>
                         
                          <button type="submit"  [disabled]="registerForm.status === 'INVALID'" class="btn btn login-btn">สมัครสมาชิก</button>
                          <!-- <button type="submit" class="btn btn login-btn">เข้าสู่ระบบ</button> -->
                     </div>
                </form>
                  <!-- </form> -->
                </div>
                <div class="col-lg-6 login-panel-2">
                    <div class="or-box">
                        <div class="line"></div>
                        <div class="text">หรือ </div>
                        <div class="line"></div>
                      </div>
                    <a class="btn btn-block btn-social btn-facebook content-form-login" >
                      <span class="social-text">
                        <svg class="svg-inline--fa fa-facebook-f fa-w-9" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264 512" data-fa-i2svg=""><path fill="currentColor" d="M215.8 85H264V3.6C255.7 2.5 227.1 0 193.8 0 124.3 0 76.7 42.4 76.7 120.3V192H0v91h76.7v229h94V283h73.6l11.7-91h-85.3v-62.7c0-26.3 7.3-44.3 45.1-44.3z"></path></svg><!-- <i class="fab fa-facebook-f"></i> --></span>
                        <div >Sign in with Facebook</div>
                    </a>
                    <a class="btn btn-block btn-social btn-google content-form-login" >
                      <span class="social-text">
                          <svg class="svg-inline--fa fa-google fa-w-16" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512" data-fa-i2svg=""><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg></span>
                        <div >Sign in with Google</div>
                    </a>

                </div>
              </div>

              <div class="row ">
                  <div class="col-lg-12 text-right login-footer">
                     <span *ngIf="chkForm"> สมาชิกใหม่? <a (click)="formToggle()" class="btn-register" >ลงทะเบียน</a> ที่นี่</span>
                     <span *ngIf="!chkForm"><a (click)="formToggle()" class="btn-register">เข้าสู่ระบบ</a> ที่นี่</span>
                  </div>
              </div>
      </div>

    </div>
  </div>
</div>