<div class="row pager">


    <div class="col-lg-12 col-sm-12 col-xs-12">
      <h3>คอร์สเรียนทั้งหมดของฉัน</h3><hr>
                <div class="row">
                    <div class="col-lg-3 col-ipad-pro-4  col-sm-6 col-xs-12 panel-list">
                        <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>222 KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">

                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>
                    </div>
                    <div class="col-lg-3 col-ipad-pro-4  col-sm-6 col-xs-12 panel-list">
                        <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>222 KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">

                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>
                    </div>
                    <div class="col-lg-3 col-ipad-pro-4  col-sm-6 col-xs-12 panel-list">
                        <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>222 KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">

                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>
                    </div>
                    <div class="col-lg-3 col-ipad-pro-4  col-sm-6 col-xs-12 panel-list">
                        <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>222 KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">

                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>
                    </div>
                    <div class="col-lg-3 col-ipad-pro-4  col-sm-6 col-xs-12 panel-list">
                        <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>222 KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">

                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>
                    </div>
                    <div class="col-lg-3 col-ipad-pro-4  col-sm-6 col-xs-12 panel-list">
                        <p-card header="KruBird TOEIC  'พลิกดินสู่ดาว' "   styleClass="" [routerLink]="['/courses-view']">
                          <p-header>
                              <img src="Card" src="assets/images/001.png">
                          </p-header>
                          <div >
                            <span>222 KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"KruBird TOEIC  "พลิกดินสู่ดาว"</span>
                            <br><div style="float: right;">

                            </div>
                          </div>
                          <p-footer></p-footer>
                        </p-card>
                    </div>

                </div>
    </div>
</div>
