<div class="row pager">


  <div class="col-lg-12 col-sm-12 col-xs-12">
    <h3>ผลการค้นหาคอร์ส</h3><hr>
    <h5 *ngIf="courseData">ไม่พบผลการค้นหา..</h5>
              <div class="row" *ngIf="courseData">
                  <div class="col-lg-3 col-ipad-pro-4  col-sm-6 col-xs-12 panel-list" *ngFor="let item of courseData">
                    <p-card header="{{item.course_name}}"   styleClass="" [routerLink]="['/courses-view',item.id]">
                      <p-header>
                          <img src="Card" src="assets/images/001.png">
                      </p-header>
                      <div >
                        <!-- <span [innerHTML]="item.course_detail"></span> -->
                        <span [innerHTML]="item.course_detail" style="display:block; height: 56px;overflow: hidden; ">
                          
                          </span>
                        <br><div style="float: right;">
                            <p style="color : red;">{{item.course_price_pro | number}} บาท</p>
                        </div>
                      </div>
                      <p-footer></p-footer>
                    </p-card>
                  </div>    
              </div>
  </div>
</div>
