<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
    <div class="content">

        <div class="grid-item title">
              <img class="img-header" src="Card" src="assets/images/title.png">
        </div>




        <!-- <div class="row " style="margin-top: 60px;height: 80vh;">
          <div class="col-lg-6 col-sm-12 col-xs-12">
                <div style="width: 70%;margin-top:30%;margin-left:10%">
                    <h1>เพิ่มการเรียนรู้ ได้รวดเร็วขึ้น
                    ไร้ขอบจำกัด แค่ห้องเรียน</h1>
                    <p>KB-TUTOR คัดสรรคอร์สคุณภาพและหลากหลายเพื่อคุณ สามารถเข้าถึงเนื้อหาของเราทุกเมื่อที่คุณต้องการเพียงแค่มีอินเตอร์เน็ต.</p>
                </div>
          </div>
          <div class="col-lg-6 col-sm-12 col-xs-12" >
            <img src="assets/images/present-001.png" alt="...." style="width: 100%;margin-top:20%;">
          </div>
        </div> -->



        <div class="head-line">
          <div style="float:left">
              <h5>คอร์สเรียนแนะนำ</h5>
          </div>
          <div  class="view-all">
            <p>
              <a [routerLink]="['/courses']"><i class="pi pi-plus-circle"></i> ดูทั้งหมด</a>
            </p>
          </div>
        </div>
        <br>
          <main class="grid-item main">
            <div class="items">
              <div class="item item1" *ngFor="let item of courseRecomemnd">

                    <p-card header="{{item.course_name}}"   styleClass="card-item-size" [routerLink]="['/courses-view',item.id]" >
                        <p-header>
                            <img src="Card" style="max-height: 150px;min-height: 150px;" src="{{item.course_pic}}">
                        </p-header>
                        <div >
                          <span [innerHTML]="item.course_detail" style="display:block; height: 56px;overflow: hidden; "></span>
                          <br><div style="float: right;">
                            <p style="color : red;">{{item.course_price_pro | number}} บาท</p>
                          </div>
                        </div>
                        <p-footer></p-footer>
                      </p-card>

              </div>             

            </div>
          </main>


        <div class="head-line" >
            <div style="float:left">
                <h5>คอร์สเรียนยอดนิยม</h5>
            </div>
            <div  class="view-all">
              <p>
                <a [routerLink]="['/courses']"><i class="pi pi-plus-circle"></i> ดูทั้งหมด</a>
              </p>
            </div>
          </div>
          <br>
            <main class="grid-item main">
              <div class="items items-2 ">
                <div class="item item1" *ngFor="let item of coursePopular">

                  <p-card header="{{item.course_name}}"   styleClass="card-item-size" [routerLink]="['/courses-view',item.id]" >
                      <p-header>
                          <img src="Card" style="max-height: 150px;min-height: 150px;" src="{{item.course_pic}}">
                      </p-header>
                      <div >
                        <span [innerHTML]="item.course_detail" style="display:block; height: 56px;overflow: hidden; "></span>
                        <br><div style="float: right;">
                          <p style="color : red;">{{item.course_price_pro | number}} บาท</p>
                        </div>
                      </div>
                      <p-footer></p-footer>
                    </p-card>

            </div>    
               

              </div>
            </main>
          </div>

</div>
